/* @font-face { font-family: 'NEXON Lv1 Gothic OTF Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff'); font-weight: normal; font-style: normal; } */
@font-face { font-family: 'YESGothic-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESGothic-Bold.woff') format('woff'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'YESGothic-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESGothic-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'YESGothic-Regular';
    color: #131313;
    background: #fdfdfdfd;
}

nav>.container-fluid{
    padding: 0 150px;
}

.main-area{
    margin-top: 250px;
}
.bg2{
    mix-blend-mode: multiply;
    position: absolute;
    top: -50px;
    left: -300px;
    border-radius: 100%;
    background: radial-gradient(circle, rgba(235,193,180,1) 0%, rgba(249,208,194,1) 35%, rgba(255,208,179,1) 100%);
    height: 120vh;
    width: 120vh;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
}
.img{
    position: relative;
    z-index: 999;
    margin: 200px 0 0;
}
.bg3{
    mix-blend-mode: multiply;
    position: absolute;
    top: -50px;
    right: -300px;
    border-radius: 100%;
    background: radial-gradient(circle, rgb(129, 129, 129) 0%, rgb(109, 109, 109) 35%, rgb(75, 75, 75) 100%);
    height: 120vh;
    width: 120vh;
    box-shadow: 00px 10px 15px rgba(0,0,0,0.3);
}
#section01{
    background: url(../images/sec6_bg.jpg);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

}
#section01 .container-fluid{
    margin: 2% 0 0;
}
#section01 h1{
    color: #fff;
    font-family: 'YESGothic-Bold';
    line-height: 70px;
}
#section01 p{
    margin: 100px 0 20px;
    font-size: 17px;
    color: #fff;
    font-weight: normal;
}
#section01 .arrow{
    width: 10px;
    height: 10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    margin: 0 auto;
}
#section01 .arrow:first-child{
    animation-name: arrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transition: ease-in-out 0.5s;
}
#section01 .arrow:nth-child(2){
    animation-name: arrow;
    animation-duration: 1.5s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    transition: ease-in-out 0.5s;
}
#section01 .arrow:last-child{
    animation-name: arrow;
    animation-duration: 1.5s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    transition: ease-in-out 0.5s;
}

@keyframes arrow{
    0%  {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}
.main-img{
    width: 250px;
}
#section01>.container-fluid{
    padding: 0;
}
.ani{
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes blink{
    0%  {opacity: 0;}
    50% {opacity: 1;}
    100%{opacity: 0;}
}
.iot{
    background: url(../images/sec-feature-galaxy-watch-r800-112797100-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 79%;
}
.navbar{
    
    font-size: 16px;
    margin: 0;
    background: none;
    border: none;
    transition:all 0.8s ease-in-out; 
    -webkit-transition:all 0.8s ease-in-out;
}
.navbar-inverse{
    background: #333;
}
.white-txt{
    color: white;
}
.bold{
    font-weight: 600;
}

.font{
    font-family: 'Work Sans', sans-serif;
}
.font2{
    font-family: 'YESGothic-Bold';
    letter-spacing: -2px;
}
#section01 .col-sm-12>h1{
    font-size: 40px;
    padding-top: 50px;
}
#section01 .col-sm-12>h1:first-child{
    margin: 70px 0 -70px;
}
.subtxt{
    line-height: 30px;
    font-size: 17px;
    font-family: 'Eoe_Zno_L';
}
.bar{
    width: 1px;
    height: 80px;
    background: white;
    margin: 50px auto 0;
}
#section02>div{
    padding: 0 10%;
}
#section02{
    width: 100%;

}
#section02>div>h1{
    margin: 70px 0 -20px;
    font-size: 40px;
    line-height: 100px;
}
.text-area{
    width: 40%;
    margin: 10% 10%;
    
}
.content-img{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition:all 0.8s ease-in-out; 
    -webkit-transition:all 0.8s ease-in-out;
    margin: 0 auto;

}
.tab-bg-1{
    background: url(../images/tab-bg.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.tab-bg-2{
    background: url(../images/tab-bg-2.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.tab-bg-3{
    background: url(../images/tab-bg-3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.tab-bg-4{
    background: url(../images/tab-bg-4.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1{
    transition:all 0.5s ease-in-out; 
    -webkit-transition:all 0.5s ease-in-out;
    color: #ccc;
    padding: 3% 0;
    margin: 1% 0;
    border-radius: 20px;
}
.tab img{
    width: 40px;
}

.bg1:hover{
    color: #333;
    box-shadow: 00px 2px 5px rgba(0,0,0,0.2);
}
.content-img>img{
    align-items: center;
    width: 100%;
}
.width{
    width: 85%;
    margin: 15px auto 0;
}
#section03{
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}
.center{
    color: #333;
    height: fit-content;
    
    padding: 5% 0;
}
.carousel{
    width: fit-content;
    margin: 0 auto;
}
#section04{
    padding: 5% 0;
}
.con01{
    width: 100%;
    padding: 10% 0;
    background: url(../images/galaxy-watch3_highlights_overview-step04_s.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.back{
    border-radius: 50px;
    margin-top: 500px;
    width: 55%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.85);
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3)
}
@import "lesshat";

.ba-slider {
    width: 76%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
 
.ba-slider img {
    width: 100%;
    display:block;
}
 
.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;
 
  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}

.handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
 
    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;
 
    background: #357ad4; /* @orange */
    border:1px solid #428ee6; /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,0.3), 
      
      inset 0 60px 50px -30px #357ad4; /* lighten(@orange, 20%)*/ 
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}
.bg4{
    width: 100%;
    margin: -1050px 0 0;
    height: 100vh;
    background: url(../images/sec-feature-galaxy-watch-r800-112797100bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
#section05{
    padding: 0 0 5%;
    overflow: hidden;

}

.sec05-bg{
    position: absolute;
    width: 75%;
    height: 100vh;
    overflow: hidden;
}

#section06 .container-fluid{
    margin: 5% auto;
    overflow: hidden;
    width: 82%;
}
#section06 .container-fluid>div>div{
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2% 0;
}
#section06 .first-1>div:first-child{
    background: url(../images/golf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#section06 .first-1>div:last-child{
    padding: 0 0 0 20%;
}
#section06 .second-1>div:last-child{
    background: url(../images/hike.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: center;
}
#section06 .second-1>div:first-child{
    padding: 0 20% 0 0;
}
#section06 img{
    width: 150%;
    overflow: hidden;
    margin: 2% 0;
}
#section08{
    width: 80%;
    color: #333;
    margin: 0 auto;
}
.tit{
    margin: 70px 0 0;
    font-size: 40px;
    line-height: 60px;
}
#section07{
    overflow: hidden;
    
}
#section07 .row{
    width: 100%;
    margin: 0 auto;
    
}
#section07 .col-sm-4 img{
    width: 200px;
    display: block;
    margin: 0 auto;
}
#section07 .col-sm-4{
    width: 37%;
}
#section07 .col-sm-4:nth-child(2) img{
    width: 400px;
    margin: 0 auto;
}
#section07 .col-sm-4 img{
    margin: 2% auto;
    width: 250px;
}
#section07 .col-sm-4:nth-child(2){
    width: 26%;
    margin: 0 auto;
}
.swiper-container {
    width: 100%;
    height: 100%;

  }
.place{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0 0 200px;
}
#section01 span{
    font-size: 40px;
    font-family: 'YESGothic-Regular';
}
#section01 h1{
    font-size: 80px;
}
i{
    font-size: 45px;
    color: #ccc;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  * {box-sizing: border-box}

/* Style the tab */
.nav-tabs{
    width: fit-content !important;
    float: right;
    margin: -67px -2px 0;
}


.nav-tabs>li>a{
    width: 80px;
    background: #2b2b2b;
    transition:all 0.5s ease-in-out; 
    -webkit-transition:all 0.5s ease-in-out;
    
}
.nav-tabs>li>a:hover{
    background: #000 !important;
}
.active a{
    background: #000 !important;
}
.active i{
    color:#fff;
    
}
.nav-tabs>li:hover i{
    color: #fff;
}
/* .nav-tabs>li:first-child:hover i{
    color: #8ddb69 !important;
}
.nav-tabs>li:nth-child(2):hover i{
    color: #db8469 !important;
}
.nav-tabs>li:nth-child(3):hover i{
    color: #7e69db !important;
}
.nav-tabs>li:last-child:hover i{
    color: #69addb !important;
} */
.tab-content{
    width: 80%;
    margin: 0 auto;
    padding: 17% 0 0;
    background: #000;
    color: #fff;
}
.txt{
    margin: -200px auto 200px;
    width: 50%;
}
.tab-content img{
    margin: 0 30%;
    width: 40%;
}
#section02 .tabs{
    display: flex;
    align-items: center;
    justify-content: center;
}
#section02 .text-area{
    width: 70%;
    margin: 100px 0 0;
}
#columns{
    column-width:400px;
    column-gap: 15px;
  }
  #columns figure{
    display: inline-block;
    margin:0;
    margin-bottom: 15px;
  }
  #columns figure img{
    width:100%;
  }
  #columns figure figcaption{
    padding:10px;
    margin-top:11px;
  }

  #section09 .col-sm-5{
      height: 500px;
  }
  #section09 .row{
      margin: 0;
      padding: 0;
  }
  #section09 .container-fluid{
    margin: 0;
    padding: 0;
}
#section09 .first{
    position: relative;
    z-index: 3;
    background: rgb(238, 189, 178);
}
#section09 .second{
    color: #fff;
    position: relative;
    z-index: 2;
    background: rgb(30, 96, 134);
}
#section09 .second button{
    border: 2px solid #fff;
}
#section09 .third{
    position: relative;
    z-index: 1;
    background: rgb(63, 120, 173);
}
#section09 .col-sm-7{
    
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#section09 .row{
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
#section09 h2{
   
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: -2px 0 0 0;
}
#section09 button{
    margin: 20px 0 0 0;
    width: 150px;
    line-height: 30px;
    background: none;
    border-radius: 30px;
    border: 2px solid #131313;
    transition: ease-in-out 0.2s;
}
#section09 button:hover{
    background: #131313;
    color: #fff;
}
#section09 .span{
    background: rgb(236, 155, 135);
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
#section09 .span2{
    background: rgb(165, 165, 165);
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
#section09 .span3{
    background: rgb(29, 29, 29);
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
  #section09 .first>div:first-child {
    background-image: url(../images/sec2_watch1_focus.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#section09 .second>div:nth-child(2) {
    background-image: url(../images/sec2_watch2_focus.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#section09 .third>div:first-child {
    background-image: url(../images/sec2_watch3_focus.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#section03 .strap{
    display: flex;
    animation-name: flow;
    animation-duration: 20s;
    transition: none;

}
.strap img{
    width: 80% fit-content;
    margin-left: -20%;
    position: relative;
}
@keyframes flow{
    0%  {margin-left: 0;}
    100%{margin-left: -316%;}
}
#section10 .container-fluid{
    width: 85%;
}
/* PC 탑 버튼 */
#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: 1px;
    border-style: solid;
    border-color: rgba(77,77,77,0.1);
    outline: none;
    background-color: #333;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding: 25px 29px;
    border-radius: 1px;
}
/* PC 탑 버튼 Hover */
#scrollTopBtn:hover {
    background-color: #fff;
    border: 1px solid #000;
    border-style: solid;
    color: #333;
}

/* 모바일 탑 버튼 */
#scrollTopBtnMob {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: 1px;
    border-style: solid;
    border-color: rgba(77,77,77,0.1);
    outline: none;
    background-color: #ff1100;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding: 25px 29px;
    border-radius: 1px;
}

/* 모바일 탑 버튼 Hover */
#scrollTopBtnMob:hover {
  background-color: #47b9e4;
    border: 1px;
    border-style: solid; 
    border-color: rgba(77,77,77,0.1);
}
@media(max-width: 767px){

    nav>.container-fluid{
        padding: 0 50px;
    }
    #section01 h1{
        font-size: 60px;
        line-height: 60px;
    }
    .tit{
        font-size: 30px !important;
    }
    .subtxt{
        font-size: 14px;
        line-height: 25px;
    }
    .tab-content{
        margin: 40% 0 0;
        width: 100%;
    }
    .nav-tabs{
        width: fit-content !important;
        float: right;
        margin: 10px -2px 0;
    }
    i{
        font-size: 25px;
    }
    .txt{
        margin: -180px auto 180px;
        padding: 10% 0;
        width: 80%;
    }
    
    .second-1{
        display: flex;
        flex-direction: column-reverse;
    }
    #section06 .container-fluid>div>div{
        height: 400px;
    }
    #section06 .container-fluid{
        width: 86%;
    }
    #section06 .tit{
        margin: -20px 0 20px;
    }

    #section03{
        width: 86%;
    }
    .strap img{
        height: 500px;
    }
    #section03 .strap{
        width: 30% !important;
    }

    #section04{
        margin: 10% 0 0;
    }
    .con01{
        width: 100%;
        padding: 50% 0;
        background: url(../images/galaxy-watch3_highlights_overview-step04_s.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200%;
        background-attachment: fixed;
    }
    #section04 .tit{
        margin: 0;
    }
    .back{
        border-radius: 50px;
        margin-top: 500px;
        padding: 5%;
        width: 86%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255,255,255,0.85);
        box-shadow: 0px 10px 15px rgba(0,0,0,0.3)
    }

    .ba-slider {
        width: 86%;
    }
}